.wrapper{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 450px;
    border-radius: 20px;
}

.card-header{
    background-color:rgb(14, 47, 67,0.9);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.logo{
    color: white;
    font-family: cursive;
    font-weight: bold;
}

.logo::before{
    content: '| ';
}

.logo::after{
    content: ' |';
}

.socialMedia{
    border-radius: 50%;
    color: white;
    margin: 10px;
    padding: 12px;
    width: 50px;
    transition: 0.3s;
}

.socialMedia:hover{
    transform: scale(1.1,1.1);
}

#google{
    background-color: #DB4437;
}

#facebook{
    background-color: #3b5998;
}

#twitter{
    background-color: #00acee;
}

