/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    background-color:whitesmoke;
    min-height: 92vh;
}

nav{
    background-color:rgba(19, 59, 85, 0.9);
    height: 8vh;
    position: relative;
}

.logo{
    color:white;
    font-family: cursive;
    font-weight: bold;
}

.logo::before{
    content: '| ';
}

.logo::after{
    content: ' |';
}

button:focus, a:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}