<nav class="d-flex sticky-top">
  <div class="navbar-brand pl-3">
    <a class="logo" routerLink="/">BhinJ</a>
  </div>

  <a class="bars" (click)="toggleNav()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </a>

  <ul class="nav-links closeNav">
    <li class="nav-item"><a class="nav-link" type="button" routerLink="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" type="button" routerLink="/designs">Designs</a></li>
    <li class="nav-item" *ngIf="username"><a class="nav-link" type="button" routerLink="/payments">Payments</a></li>
    <li class="nav-item"><a class="nav-link" type="button" routerLink="/contact">Contact</a></li>
    <li class="nav-item" *ngIf="!username"><a class="nav-link" type="button" routerLink="/login">Login</a></li>
    <li class="nav-item" *ngIf="!username"><a class="nav-link" type="button" routerLink="/signup">Singup</a></li>
    <li class="nav-item" *ngIf="username">
      <a class="nav-link user dropdown dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
        <img class="rounded-circle mr-2" src={{user.profileImage}} *ngIf="user.profileImage" height="40" width="40">
        <img class="rounded-circle bg-white p-2 mr-2" src='/assets/user.png' *ngIf="!user.profileImage" height="40"
          width="40">
        <span *ngIf="username"> {{username}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow">
        <a class="dropdown-item text-dark" routerLink="/profile" *ngIf="user">Profile</a>
        <a class="dropdown-item text-dark" (click)="logout()" *ngIf="user">Logout</a>
      </div>
    </li>
  </ul>


</nav>