.logo{
    color:white;
    font-family: cursive;
    font-weight: bold;
    text-decoration: none;
}

.navbar-brand{
    display: grid;
    place-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 300;
}

.nav-links li:hover{
    background-color: rgb(202, 105, 95);
}

.bars{ display: none; }

.bars div{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
}

.bars{
    margin-left: auto;
    padding: 10px;
}

@media screen and (max-width:768px){
    .nav-links{
        position: fixed;
        background-color:rgba(19, 59, 85, 0.9);
        height: 92vh;
        width: 60%;
        right:0;
        top:8vh;
        flex-direction: column;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
    }
    .nav-active{
        transform: translateX(0%);
    }
    .bars{
        display: block;
    }
    .toggleBars .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggleBars .line2{
        opacity: 0;
    }
    .toggleBars .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
}